/********** Template CSS **********/
:root {
  --primary: #fe841a;
  --secondary: #34ad54;
  --light: #fff2e6;
  --dark: #3d1c12;
}

* p {
  text-align: justify;
}

/*** Spinner ***/
.spinner {
  width: 40px;
  height: 40px;
  background: var(--primary);
  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity 0.5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

/*** Heading ***/
h1,
h2,
.fw-bold {
  font-weight: 800 !important;
}

h3,
h4,
.fw-semi-bold {
  font-weight: 700 !important;
}

h5,
h6,
.fw-medium {
  font-weight: 600 !important;
}

/*** Button ***/
.btn {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  transition: 0.5s;
}

.btn-primary,
.btn-secondary {
  color: #ffffff;
  box-shadow: inset 0 0 0 50px transparent;
}

.btn-primary:hover {
  box-shadow: inset 0 0 0 0 var(--primary);
}

.btn-secondary:hover {
  box-shadow: inset 0 0 0 0 var(--secondary);
}

.btn-square {
  width: 36px;
  height: 36px;
}

.btn-sm-square {
  width: 30px;
  height: 30px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

/*** Navbar ***/
.navbar-dark .navbar-nav .nav-link {
  font-family: "Nunito", sans-serif;
  position: relative;
  margin-left: 25px;
  padding: 35px 0;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  outline: none;
  transition: 0.5s;
}

.sticky-top.navbar-dark .navbar-nav .nav-link {
  padding: 20px 0;
  color: var(--dark);
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
  color: var(--primary);
}

.navbar-dark .navbar-brand h1 {
  color: #ffffff;
}

.navbar-dark .navbar-toggler {
  color: var(--primary) !important;
  border-color: var(--primary) !important;
}

@media (max-width: 991.98px) {
  .sticky-top.navbar-dark {
    width: 100%;
    position: fixed;
    background: #ffffff;
  }

  .navbar-dark .navbar-nav .nav-link,
  .navbar-dark .navbar-nav .nav-link.show,
  .sticky-top.navbar-dark .navbar-nav .nav-link {
    padding: 10px 0;
    color: var(--dark);
  }

  .navbar-dark .navbar-brand h1 {
    color: var(--primary);
  }
}

@media (min-width: 992px) {
  .navbar-dark {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgba(256, 256, 256, 0.1);
    z-index: 999;
  }

  .sticky-top.navbar-dark {
    position: fixed;
    background: #ffffff;
  }

  .navbar-dark .navbar-nav .nav-link::before {
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    bottom: -1px;
    left: 50%;
    background: var(--primary);
    transition: 0.5s;
  }

  .navbar-dark .navbar-nav .nav-link:hover::before,
  .navbar-dark .navbar-nav .nav-link.active::before {
    width: 100%;
    left: 0;
  }

  .navbar-dark .navbar-nav .nav-link.nav-contact::before {
    display: none;
  }

  .sticky-top.navbar-dark .navbar-brand h1 {
    color: var(--primary);
  }
}

/*** Carousel ***/
.carousel-caption {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

@media (max-width: 576px) {
  .carousel-caption h5 {
    font-size: 14px;
    font-weight: 500 !important;
  }

  .carousel-caption h1 {
    font-size: 30px;
    font-weight: 600 !important;
  }
}

.carousel-control-prev,
.carousel-control-next {
  width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 3rem;
  height: 3rem;
}

/*** Section Title ***/
.section-title::before {
  position: absolute;
  content: "";
  width: 150px;
  height: 5px;
  left: 0;
  bottom: 0;
  background: var(--primary);
  border-radius: 2px;
}

.section-title.text-center::before {
  left: 50%;
  margin-left: -75px;
}

.section-title.section-title-sm::before {
  width: 90px;
  height: 3px;
}

.section-title::after {
  position: absolute;
  content: "";
  width: 6px;
  height: 5px;
  bottom: 0px;
  background: #ffffff;
  -webkit-animation: section-title-run 5s infinite linear;
  animation: section-title-run 5s infinite linear;
}

.section-title.section-title-sm::after {
  width: 4px;
  height: 3px;
}

.section-title.text-center::after {
  -webkit-animation: section-title-run-center 5s infinite linear;
  animation: section-title-run-center 5s infinite linear;
}

.section-title.section-title-sm::after {
  -webkit-animation: section-title-run-sm 5s infinite linear;
  animation: section-title-run-sm 5s infinite linear;
}

@-webkit-keyframes section-title-run {
  0% {
    left: 0;
  }
  50% {
    left: 145px;
  }
  100% {
    left: 0;
  }
}

@-webkit-keyframes section-title-run-center {
  0% {
    left: 50%;
    margin-left: -75px;
  }
  50% {
    left: 50%;
    margin-left: 45px;
  }
  100% {
    left: 50%;
    margin-left: -75px;
  }
}

@-webkit-keyframes section-title-run-sm {
  0% {
    left: 0;
  }
  50% {
    left: 85px;
  }
  100% {
    left: 0;
  }
}

/*** Service ***/
.service-item {
  position: relative;
  height: 300px;
  padding: 0 30px;
  transition: 0.5s;
}

.service-item .service-icon {
  margin-bottom: 30px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary);
  border-radius: 2px;
  transform: rotate(-45deg);
}

.service-item .service-icon i {
  transform: rotate(45deg);
}

.service-item a.btn {
  position: absolute;
  width: 60px;
  bottom: -48px;
  left: 50%;
  margin-left: -30px;
  opacity: 0;
}

.service-item:hover a.btn {
  bottom: -24px;
  opacity: 1;
}

/*** Testimonial ***/
.testimonial-carousel .owl-dots {
  margin-top: 15px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.testimonial-carousel .owl-dot {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 30px;
  height: 15px;
  background: #dddddd;
  border-radius: 2px;
  transition: 0.5s;
}

.testimonial-carousel .owl-dot.active {
  width: 30px;
  background: var(--primary);
}

.testimonial-carousel .owl-item.center {
  position: relative;
  z-index: 1;
}

.testimonial-carousel .owl-item .testimonial-item {
  transition: 0.5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
  background: #ffffff !important;
  box-shadow: 0 0 30px #dddddd;
}

/*** Team ***/
.team-item {
  transition: 0.5s;
}

.team-social {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.team-social a.btn {
  position: relative;
  margin: 0 3px;
  margin-top: 100px;
  opacity: 0;
}

.team-item:hover {
  box-shadow: 0 0 30px #dddddd;
}

.team-item:hover .team-social {
  background: rgba(61, 28, 18, 0.7);
}

.team-item:hover .team-social a.btn:first-child {
  opacity: 1;
  margin-top: 0;
  transition: 0.3s 0s;
}

.team-item:hover .team-social a.btn:nth-child(2) {
  opacity: 1;
  margin-top: 0;
  transition: 0.3s 0.05s;
}

.team-item:hover .team-social a.btn:nth-child(3) {
  opacity: 1;
  margin-top: 0;
  transition: 0.3s 0.1s;
}

.team-item:hover .team-social a.btn:nth-child(4) {
  opacity: 1;
  margin-top: 0;
  transition: 0.3s 0.15s;
}

.team-item .team-img img,
.blog-item .blog-img img {
  transition: 0.5s;
}

.team-item:hover .team-img img,
.blog-item:hover .blog-img img {
  transform: scale(1.15);
}

/*** Miscellaneous ***/
@media (min-width: 991.98px) {
  .facts {
    position: relative;
    margin-top: -75px;
    z-index: 1;
  }
}

.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}

.bg-header {
  background: url(../img/mars.jpg) center center no-repeat;
  background-size: cover;
}

.bg-header-team {
  background: url(../img/team.JPG) center center no-repeat;
  background-size: cover;
  height: 80vh;
}

.link-animated a {
  transition: 0.5s;
}

.link-animated a:hover {
  padding-left: 10px;
}

@media (min-width: 767.98px) {
  .footer-about {
    margin-bottom: -75px;
  }
}

.sponsors-layout {
  width: 100%;
  height: auto;
  padding: 1rem;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.sponsor-card {
  width: 18rem;
  min-height: 18rem;
  border-style: none;
  /* border-radius: 5%;
    border-width: 0.1rem; */
  /* border-color: var(--primary); */
  display: flex;
  flex-direction: column;
  padding: 5px;
  align-items: center;
  justify-content: center;
  /* color: var(--dark); */
  /* background-color: #fff2e6; */
}

.ircx1 {
  width: 40%;
  margin-top: 114px;
  margin-bottom: -106px;
}

.ircx2 {
  width: 40%;
}

.ircx3 {
  width: 40%;
  margin-left: 300px;
  margin-bottom: -3px;
}

.ircx4 {
  width: 40%;
  margin-left: 597px;
  margin-top: -740px;
  margin-bottom: -106px;
}

.ircx5 {
  width: 40%;
  margin-left: 900px;
  margin-top: -760px;
}

.ircx6 {
  width: 40%;
  margin-left: 900px;
  margin-top: -245px;
}

.card-img {
  width: 15rem;
  height: 8rem;
}

/* IRC-CONTENT */

.img-content {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  min-height: 60vh;
}

.img-container {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
  min-height: 60vh;
}

.contents {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.contents-title {
  width: 20%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: flex-start;
  transform: rotate(-90deg);
  white-space: nowrap;
}

.contents-title h1 {
  margin: 0;
  padding: 0;
  font-size: 40px;
}

/* @media(max-width: ) */

.b {
  position: relative;
  width: 100%; /* Adjust as needed */
  height: 250px; /* Adjust as needed */
  transition: transform 0.3s ease;
}

.b .d1 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  border-radius: 25px;
  z-index: 1;
}

.b .d2 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 25px;
  position: absolute;
  top: 0;
  opacity: 0;
  transition: all 0.3s ease;
  z-index: 2;
}

.b:hover {
  transform: scale(1.05);
}

.b:hover .d2 {
  opacity: 1;
}

@media (min-width: 425px) {
  .sponsors-layout {
    width: 100%;
    height: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 768px) {
  .sponsors-layout {
    width: 100%;
    height: auto;
    padding: 1rem;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 991.98px) {
  .sponsors-layout {
    width: 100%;
    height: auto;
    padding: 1rem;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
  }
}

/* Sponsers */

/* #sponsors-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.sponsor-card {
    width: calc(33.333% - 20px);
    box-shadow: 2px 2px 10px gray;
    border: 1px solid #ddd;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
} */

/* .sponser-card .sponser-img {
    object-fit: contain;
    max-width: 100%;
    height: 100%;
} */

/* @media (max-width: 992px) {
    .sponsor-card {
        width: calc(50% - 20px);
    }
}

@media (max-width: 576px) {
    .sponsor-card {
        width: 100%;
    }
} */
.IRC-MT-MOBILE{
  display: none;
}
/* Responsive IRC Page - Mobile View */
@media (max-width: 767px) {
  .img-fluid{
    width: 60px;
  }
  /* header */
  .box .section-title::before {
    left: 50%;
    transform: translateX(-50%);
  }
  .bg-header {
    height: 500px;
  }

  /* about */
  .box p{
    font-size: 15px;
  }
  .box h3{
    font-size: large;
  }
  .box h3::before{
    width: 100px;
  }
  .box-1 {
    grid-row: 1;
  }
  .box-2 {
    grid-row: 2;
  }
  .box-3 {
    grid-row: 3;
  }
  .box-4 {
    grid-row: 4;
  }
  .box-5 {
    grid-row: 5;
  }

  /* mission & task  */
  .img-content{
    display: none;
  }
  .img-container {
    flex-direction: column;
    align-items: center;
    display: none;
  }
  .IRC-MT{
    display: none;
  }
  .testimonial-item{
    margin: 0 10px;
    border-radius: 50px;
  }
  .contents {
    width: 100%;
  }
  .contents-title {
    width: 100%;
    font-size: small;
    align-items: center;
    transform: rotate(0deg);
  }
  .contents-title h1 {
    font-size: 30px;
  }
  .img-container {
    gap: 20px;
  }

  .IRC-MT-MOBILE{
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* Responsive IRC Page - Tab View */
@media (min-width: 767px) and (max-width: 1023px) {
  .collage-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
  }
  .contents-title {
    display: none;
  }
  .img-container {
    width: 100%;
    justify-content: center;
  }
  .box-1 {
    grid-column: 1;
    grid-row: 1;
  }
  .box-2 {
    grid-column: 2;
    grid-row: 1;
  }
  .box-3 {
    grid-column: 1;
    grid-row: 2;
  }
  .box-4 {
    grid-column: 2;
    grid-row: 2;
  }
  .box-5 {
    grid-column: 1;
    grid-row: 3;
  }
  /* .section-title::before {
    left: 50%;
    transform: translateX(-50%);
  } */
  .bg-header {
    height: 500px;
  }
}
